* {
    box-sizing: border-box;
  }
  
  .login {
    font: 1rem "Roboto" sans-serif;
    font-weight: 100;
    line-height: 1.7;
  }
  .login-bg {
    position: fixed;
    width: 100%;
    height: 100%;
  }
  @media (min-width: 64em) {
    .login-bg {
      position: initial;
      height: 100vh;
      -o-object-fit: cover;
         object-fit: cover;
    }
  }
  .login:before {
    content: "";
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background: linear-gradient(to right, #8E24AA 0%, rgba(79, 20, 94, 0.85) 41%, rgba(30, 7, 35, 0.9) 100%);
    z-index: 1;
  }
  .login:after {
    content: "";
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAATklEQVQoU2NkYGAwZmBgOMuAACA+CKCIMSIpADGRNaEYgKwQ3WQUjTCF6CYhWw2WAynEpgjmIpg7jUlSiM0TWK2GWUOUZ7ApxggeogIcABHJFtftKVfJAAAAAElFTkSuQmCC") repeat;
    opacity: 0.5;
    z-index: 2;
  }
  .login .box-login {
    width: 90%;
    background-color: rgba(0, 0, 0, 0.5);
    min-height: 90vh;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, 5%);
    z-index: 5;
    border-radius: 5px;
    padding: 10px;
    display: flex;
  }
  @media (min-width: 64em) {
    .login .box-login {
      min-height: 24rem;
      width: 60%;
      padding: 30px;
      top: 50%;
      transform: translate(-50%, -50%);
      align-items: center;
    }
  }
  .login .box-login-content {
    position: relative;
    display: flex;
    flex-direction: column;
  }
  @media (min-width: 64em) {
    .login .box-login-content {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      min-height: 100%;
    }
  }
  .login .box-login-content:before {
    content: "";
  }
  .login .box-login-content:before {
    content: "";
    background-color: white;
    border-radius: 5px;
    min-height: 25rem;
    width: 100%;
    position: absolute;
    visibility: visible;
    z-index: 10;
    top: 18rem;
  }
  @media (min-width: 64em) {
    .login .box-login-content:before {
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      -webkit-animation-duration: 0.3s;
              animation-duration: 0.3s;
      width: calc(100% / 2);
      top: 50%;
      transform: translateY(-50%);
    }
  }
  @media (min-width: 64em) {
    .login .box-login-content.is--login:before {
      right: 0;
      box-shadow: -8px 0 12px 1px rgba(0, 0, 0, 0.45);
      -webkit-animation-name: Login;
              animation-name: Login;
    }
  }
  .login .box-login-content.is--login .form--login {
    visibility: visible;
    opacity: 1;
  }
  .login .box-login-content.is--login .box-text:nth-child(1) {
    display: none;
  }
  @media (min-width: 64em) {
    .login .box-login-content.is--login .box-text:nth-child(1) {
      display: block;
    }
  }
  @media (min-width: 64em) {
    .login .box-login-content.is--signup:before {
      right: 50%;
      box-shadow: 8px 0 12px 1px rgba(0, 0, 0, 0.45);
      -webkit-animation-name: Signup;
              animation-name: Signup;
    }
  }
  .login .box-login-content.is--signup .form--signup {
    visibility: visible;
    opacity: 1;
  }
  .login .box-login-content.is--signup .box-text:nth-child(2) {
    display: none;
  }
  @media (min-width: 64em) {
    .login .box-login-content.is--signup .box-text:nth-child(2) {
      display: block;
    }
  }
  @-webkit-keyframes Signup {
    0% {
      right: 0;
    }
    70% {
      right: 55%;
    }
    100% {
      right: 50%;
    }
  }
  @keyframes Signup {
    0% {
      right: 0;
    }
    70% {
      right: 55%;
    }
    100% {
      right: 50%;
    }
  }
  @-webkit-keyframes Login {
    0% {
      right: 50%;
    }
    70% {
      right: -5%;
    }
    100% {
      right: 0;
    }
  }
  @keyframes Login {
    0% {
      right: 50%;
    }
    70% {
      right: -5%;
    }
    100% {
      right: 0;
    }
  }
  .login .box-text {
    position: relative;
    width: 100%;
    color: #ffffff;
  }
  .login .box-text .box-text--title {
    font-size: 1.5em;
    font-weight: bold;
    border-bottom: 1px #ffffff solid;
    display: inline-block;
    padding: 5px 0;
    margin-bottom: 10px;
  }
  .login .box-text p {
    margin: 20px 0;
  }
  .login .box-text .button {
    border: 1px #ffffff solid;
    text-align: center;
    display: block;
    padding: 10px;
    border-radius: 30px;
    margin-top: 10px;
  }
  @media (min-width: 64em) {
    .login .box-text .button {
      min-width: 10vw;
      display: inline-block;
      cursor: pointer;
    }
  }
  @media (min-width: 64em) {
    .login .box-text {
      width: calc(100% / 2);
      padding: 20px;
    }
    .login .box-text:nth-child(1) {
      padding-left: 0;
      padding-right: 40px;
    }
    .login .box-text:nth-child(2) {
      padding-right: 0;
      padding-left: 40px;
    }
  }
  .login .box-forms {
    border-radius: 0;
    min-height: 18rem;
    border-radius: 5px;
    padding: 30px;
    width: 100%;
    top: 18rem;
    position: absolute;
    z-index: 15;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.55s ease-in-out;
  }
  .login .box-forms.form--login {
    right: 0;
  }
  .login .box-forms.form--signup {
    right: 0;
  }
  @media (min-width: 64em) {
    .login .box-forms {
      min-height: 44vh;
      width: calc(100% / 2);
      top: 50%;
      transform: translateY(-50%);
    }
    .login .box-forms.form--signup {
      right: 50%;
    }
  }
  .login .box-forms--title {
    color: #8E24AA;
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 20px;
  }
  .login label {
    width: 100%;
    font-weight: normal;
    vertical-align: middle;
    cursor: pointer;
    display: block;
  }
  .login label input[type=checkbox] {
    width: initial;
    margin-left: 5px;
  }
  .login button,
  .login input {
    background-color: transparent;
    padding: 10px;
    outline: 0;
    border: 1px #ccc solid;
    width: 100%;
    border-radius: 30px;
  }
  .login .form-group {
    margin-bottom: 20px;
  }
  .login .form-group:last-of-type {
    margin-bottom: 0;
  }
  .login .button-submit {
    border: 0;
    color: #ffffff;
    background-color: #8E24AA;
    cursor: pointer;
  }
  .login .forget-password {
    position: relative;
    text-align: center;
    width: 100%;
    display: inline-block;
    color: #1d2833;
    text-decoration: none;
  }
  .login .forget-password span {
    vertical-align: middle;
  }
  .login .forget-password .icon-svg {
    display: inline-block;
    vertical-align: middle;
  }